PORT=5000
DATABASE_URL="postgresql://postgres.awpneripzneuyrsimtab:Daddy.me%40happy@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres?connection_limit=2"
DIRECT_URL="postgresql://postgres.awpneripzneuyrsimtab:Daddy.me%40happy@aws-0-ap-southeast-1.pooler.supabase.com:5432/postgres"
JWT_SECRET="society_management_super_secret_key_12345"

SMTP_HOST="smtp.gmail.com"
SMTP_PORT="465"
SMTP_USER="rimerge.online@gmail.com"
SMTP_PASS="your_gmail_app_password_here"
SMTP_FROM="StayWise <rimerge.online@gmail.com>"
